.footer {
	&__menu {
		background: #000000;

		&_row {
			display: flex;
			height: 60px;
		}
		&_element {
			
			flex: 0 1 50%;
		}
		&_content1 {
			
			nav{
				display:flex;
			height: 60px;
			}
			a{
				font-size: 13px;
				color: #949494;
				font-family: "pfdintextcomppro";
				padding:  0 25px 0 0;
				display:flex;
				align-items:center;
				text-transform: uppercase;
			}
		}
		&_content2 {

		}
	}
}

.footermenucontent2 {
	&__row {
		height: 60px;
		
		display:flex;
		justify-content:flex-end;

		a{
			padding: 0 0 0 12px;
			display:flex;
			align-items:center;
			img{
				
			}
			
		}
	}
}
