
.header {
	&__block {}
	&__row {
		margin: 26px 0 0 0;
		display: flex;
	}
	&__element {
		flex: 1 1 50%;
	}
	&__search {	}
	&__user {	width: 68px;}
}
.search {
	&_row {
		display: flex;
	}
	&_fild {
		display: none;
	}
}
.user {	
	&_row {
		display: flex;
		justify-content:flex-end;
		margin: 0 25px 0 0;
	}
	&_bellmarker{
		padding: 0 37px 0 0 ;
		display: flex;
		width: 57px;
	}
	&_bell {}
	&_marker {
		width: 5px;
		height: 5px;
		background: red;
		border-radius: 50%;
		display: inline-block;
	}
	&_user {}
}


