.hotselection {
	
	&__title {
		margin: 20px 0 0 0;
		font-size: 30px;
		color: #5b5b5b;
		font-family: "pfdintextcomppro";
		text-transform: uppercase;
		text-align: center;
	}
	&__img {
		margin: 45px 0 50px;
	}
	&__row {
		display: flex;
		margin: 0 -6px;
	}
	&__element {
		display: flex;
		flex: 1 1 25%;
		height: 427px;
 		width: 267px;
 		justify-content: center;
		padding: 0 3px;
		img{
			position: absolute;
			width: 265px;
			height: 427px;
		}
	}
	
	&__content1 {
		 position: relative; 
		display:flex;
		justify-content: center;
		
		&_row {
			display:flex;
			flex-direction:column;
			justify-content: center;
		}
		&_hidden {
			flex: 1 1 auto;
		}
		span{
			text-align: center;
			font-size: 30px;
			color: #f0f0f0;
			padding: 0 90px 35px;
			font-family: "pfdintextcomppro";
			text-transform: uppercase;
			line-height: 36px;

		}
	}
	&__autors {
		margin: 35px 0 0 0;
		&_row {
			display:flex;
			justify-content: center;
		}
		&_element {
			padding: 0 8px;
			img{
				width: 55px;
				height: 55px;
				border-radius: 50%;
			}
		}
	}
	&__email {
		margin: 30px 0 0 0;
		background-color: #e8e8e8;
		
		&_title {
			padding: 20px 0 15px 0;
			font-size: 14px;
			color: #252627;
			font-family: "pfdintextcomppro";
			text-transform: uppercase;
			text-align: center;
		}
		&_row { 
			display: flex;
			justify-content: center;

		}
		&_form { 
			padding: 0 0 50px 0;

		}
	}
}

.emailform {
	&__field {
		input{
			width: 318px;
			height: 30px;
		}
		
		
	}
	&__button {
		position: relative;
		input{
			
			
			width: 30px;
			height: 30px;
			background-color: black;
		}

	}
	&__button:before,
	&__button:after{
		content:'';
		position: absolute;
		width: 10px;
		height: 2px;
		background-color: white;
	}
	&__button:before{
		content:'';
		top: 12px;
		left: 11px;
		transform: rotate(45deg);
	}
	&__button:after{
		content:'';
		bottom: 12px;
		left: 11px;
		transform: rotate(-45deg);
	}
}


