
.basis {
	
	&__menu {
		flex: 0 0 175px;
		background: #2f3032;
	}

	&__logo {
		font-size: 20px;
		line-height: 30px;
		color: #c7b084;
		font-family: "Segoe Script";
		text-transform: uppercase;
		padding: 43px 0 39px 0;
		text-align: center;
	}
	&__recept {
		text-align: center;
		font-size: 14px;
		line-height: 36px;
		
		font-family: "pfdintextcomppro";
		.recept__list{
			li{
				
			}
			li:hover{
				background: #252628;
				border-left: 3px solid #d9be8f;
			}
			a{
				color: #efefef;
			}

		}
	}
	&__ruen {
		padding: 268px 0 0 0;
		.ruen_list {
			display:flex;
			font-size: 14px;
			line-height: 36px;
			justify-content:center;
			font-family: "pfdintextcomppro";
			li{
				padding: 0 4px;
			}
			li:nth-child(1){
				a{
					color: #737373;
				}
			}
			li:nth-child(2){
				a{
					color: white;
				}
			}
		}
	}

	&__futer {
		padding: 10px 0 0 0;
		.futer_list{
			display:flex;
			justify-content:center;
		}
		li{
			padding: 0 4px;
			img{
				background-blend-mode: screen;
			}
		}
	}


	
}



