.recipe {
	width: 544px;
	height: 267px;
	border: 2px solid #f1f1f1;
	&__row {
		display: flex;
	}
	&__element {
		flex: 1 1 50%;
	}
	&__img {
		
		&_row{
			display: flex;
		flex-direction:column;
		justify-content: space-between;
		position: relative;height: 267px;
		}
		&_img {
			position: absolute; 
			width: 272px;
			height: 263px;
			overflow: hidden;
		}
		&_hidden{
			
			flex: 1 1 auto;
		}
		&_footer {
			flex:  0 0 auto;
			
			
		}
	}
	&__content {
		display:flex;
		flex-direction:column;
		&_title {
			padding: 14px 0 0 0;
			font-size: 24px;
			color: #3d3d3d;
			font-family: "pfdintextcomppro";
			text-align: center;
		}
		&_conditions {}
		&_text {
			font-size: 16px;
			line-height: 16px;
			color: #5b5b5b;
			font-family: "pfdintextcomppro";
			padding: 0 10px;
			display:flex;
			flex: 1 1 auto;
		}
		&_footer {
			border-top: 2px solid #f1f1f1;
			height: 40px;
			
			
		}
	}
}
.footer {
	&__row {
		display: flex;
		height: 56px;

		&_element {
			display: flex;
			align-items:center;
			
		}
		&_img {
			padding: 0 13px;
			img{
				width: 30px;
				height: 30px;
				overflow: hidden;

			border:2px solid black;
			border-radius: 50%;
			}
		}
		&_name {
			font-size: 16px;
			color: #bcbcbc;
			font-family: "pfdintextcomppro";
		}
	}
}
.conditions {
	&__row {
		display: flex;
		margin: 24px 4px 20px 0;
		
	}
	
	&__element {
		border: 1px solid #f1f1f1;
		border-radius: 50px 50px 50px 50px;
		position: relative;
		height: 27px;
		margin: 0 4px;
		flex: 0 1 33.333%;


	}
	&__content1 {
		font-size: 14px;
		color: #b5904e;
		font-family: "pfdintextcomppro";
		display: flex;
		align-items:center;
		img{
			padding: 0 6px;
		}

	}
}
.recipefooter {

			 
	&__row {
		display: flex;
		align-items:center;
		height: 36px;
		justify-content: space-between;


	}
	&__element{
		display: flex;
		align-items:center;
	}
	&__like {
		padding: 0 0 0 12px;
		img{
			padding: 0 8px;
		}
	}
	&__counter {
		font-size: 13px;
		color: #9b9b9b;
		font-family: "Roboto Condensed"; 
		font-weight: 400;
	}
	&__social {
		padding: 0 7px 0 0px;
		img{
			padding: 0 10px;
		}
	}
}
