.selection {
	margin: 18px 0 0 0;
	&__title {@extend %title;}
	&__menu {
		margin: 20px 0 0 0;
		
		&_row {
			display: flex;
			justify-content:space-between;
		}
		&_element {}
		&_spoyler {}
		&_select {
			display: flex;
			
		}
	}
	&__imagion {}
}
.spoyler {
	&__content {
		font-size: 14px;
		
		color: #5b5b5b;
		font-family: "pfdintextcomppro";

		&_ul {
			display: flex;
			flex-grow:0;
			li{
				width: 155px;
				flex: 0 0 20%;
			}
		}
		&_title {
			width: 155px;
			height: 35px;
			border:1px solid #dedede;
			display:flex;
			align-items:center;
			padding: 0 0 0 15px;
			position: relative;
			cursor: pointer;

		}
		&_title:before, 
		&_title:after{
			content:'';
			position: absolute;
			width: 6px;
			height: 1px;
			background-color: #000;
			top: 17px;
			transition: all 0.3s ease-out 0s;
		}
		&_title:before{
			transform: rotate(40deg);
			right: 17px;
		}
		&_title:after{
			transform: rotate(-40deg);
			right: 12px;
		}
		&_title.active:before{
			transform: rotate(-40deg);
			
		}
		&_title.active:after{
			transform: rotate(40deg);
			
		}

		&_text {
			overflow: hidden;
			max-height: 0;
			transition: max-height 0.3s ease-out;
			position: absolute;
			z-index: 2;
		}
	}
}
.select {
	&__content {

		&_row {
			display: flex;
			
		}
		&_element {
			border:1px solid #dedede;
			padding: 0 23px;
			height: 35px;
			display:flex;
			align-items:center;
			justify-content: center;
			font-size: 14px;
			
			color: #5b5b5b;
			font-family: "pfdintextcomppro";
			margin: 0 0 0 15px;
			&:hover{
				background-color: #c7b084;
				color: white;
			}
		}
		&_ingridients {}
		&_recepts {}
	}
}
.spoylerText{
	
	li{
		word-break: break-all;
		border:1px solid #dedede;
			padding: 0 23px;
			min-height: 35px;
			display:flex;
			align-items:center;
			justify-content: center;
			font-size: 14px;
			background: white;
			color: #5b5b5b;
			font-family: "pfdintextcomppro";
			
			
	}
}
.active{
	/* background: red; */
}
.selection {
	&__imagion {
		margin-top: 12px;
	
	}
}
.imagionBlock1 {

	&__row {
		display: flex;
		justify-content:space-between;  
		flex-wrap:wrap;
		margin: 0 -5px;
	}
	&__element {
		flex: 1 1 50%;
		
		a{
			.imageelement{
					position: absolute;
					padding: 0 5px;
				}
		}
	}
	&__content1 {
		position: relative;

		&_dish {
			color: #ffffff;
			font-family: "pfdintextcomppro";
			text-align: center;
			margin: 172px 0 0 0; 
		}
		&_title {
			font-size: 16px;
		}
		&_subtitle {
			padding-top: 5px;
			font-size: 36px;
			font-weight: bold;
		}
		&_icons {
			padding-top: 5px;
		}
	}
	&__content2 {
		position: relative;
		
		&_week {
			color: #ffffff;
			font-family: "pfdintextcomppro";
			text-align: center;
			margin: 172px 0 0 0; 

		}
		&_title {
			font-size: 16px;
		}
		&_subtitle {
			padding-top: 5px;
			font-size: 36px;
			font-weight: bold;
		}
		&_icons {
			padding-top: 5px;
		}
	}
}


.imagionBlock2 {
	margin-top: 125px;
	&__row {
		display: flex;
	}
	&__element {
		/* border: 3px solid black;*/
	}		 
	&__content1 {
		flex: 2;
		
		&_text {
			position: relative;
			margin: 19px 0 0 8px;
			.black{width: 155px}
			span{
				display: inline-block;
				font-size: 19px;
				color: #333333;
				font-family: "pfdintextcomppro";
				background-color: white;
				padding: 9px 15px;
			}
		}
	}
	&__content2 {
		flex: 1;
		margin: 0 0 0 25px;
		&_true{
			display: inline-flex;
			width: 120px;
			height: 32px;
			background-color: black;
			color:white;
			justify-content: center;
			align-items: center;
			span{
				padding: 0 0 0 12px;
			}
			

		}
		&_text {
			position: relative;
			margin: 19px 0 0 8px;
			font-size: 19px;
			font-family: "pfdintextcomppro";
			p{
				display: inline-block;
				
				color: #333333;
				
				background-color: white;
				padding: 9px 15px;
			}
		}
	}
	&__content3 {
		flex: 1;
		margin: 0 0 0 10px;
		&_text {
			position: relative;
			margin: 19px 0 0 8px;
			.black{width: 107px}
			span{
				display: inline-block;
				font-size: 19px;
				color: #333333;
				font-family: "pfdintextcomppro";
				background-color: white;
				padding: 9px 15px;
			}
		}
	}
}
.imagionBlock2img {
	position: absolute; 
}
.black{border: 3px solid black;}
.imagionBlock3 {
	margin-top: 170px;
	&__row {
		display: flex;
	}
	&__element {
		/* border: 3px solid black;*/
	}		 
	&__content1 {
		flex: 1;
		
		&_text {
			position: relative;
			margin: 19px 0 0 8px;
			.black{width: 86px;}
			span{
				display: inline-block;
				font-size: 19px;
				color: #333333;
				font-family: "pfdintextcomppro";
				background-color: white;
				padding: 9px 15px;
			}
		}
	}
	&__content2 {
		flex: 1;
		margin: 0 0 0 6px;
		&_text {
			position: relative;
			margin: 19px 0 0 8px;
			.black{width: 107px;}
			span{
				line-height: 40px;
				font-size: 19px;
				color: #333333;
				font-family: "pfdintextcomppro";
				background-color: white;
				padding: 9px 12px;
			}
		}
	}
	&__content3 {
		flex: 2;
		margin: 0 0 0 6px;
		&_text {
			position: relative;
			margin: 19px 0 0 8px;
			.black{width: 155px;}
			span{
				display: inline-block;
				font-size: 19px;
				color: #333333;
				font-family: "pfdintextcomppro";
				background-color: white;
				padding: 9px 15px;
			}
		}
	}
}
.imagionBlock3img {
	position: absolute; 
}
/* .row {
	margin-top: 400px;
	display: flex;
	&_cell {
		height: 40px;
		border: 3px solid black;
	}
	&_cell--2 {flex: 2}
	&_cell--1 {flex: 1}
}

 */






.imagionBlock3 {
	&__row {}
	&__element {}
	&__content1 {}
	&__content2 {}
	&__content3 {}
}








