@import "style-0.scss";
body{
	font-family: "Arial" ;
}
.container {
	max-width: 1180px;
	margin: 0px auto;
}
.three_row_right{
	padding: 0 15px 0 15px;
	flex: 1 1 auto;
	.three_row_title{
		font-size: 24px;
		color: rgb(68, 81, 97);
			line-height: 1.25;
	}
	.three_row_text{
		padding: 15px 0 0 0;
		font-size: 16px;
		color: rgb(51, 51, 51);
		line-height: 1.5;
	}
}
.wraper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction:column;
	.content {
		
		flex: 1 1 auto;
		.one {
			background: #445162;
			.one_row{
				display: flex;
				padding: 50px 0;
				justify-content: space-between;
				.one_left {
					margin: -7px 0 0 0;
					color: white;
					.one_left_title {
						font-size: 60px;
					}
					.one_left_list {
						margin: 50px 0 0 0;
						font-size: 20px;
						line-height: 36px;
						li {
							background: url('../images/check icon.png') 0 5px no-repeat;
							padding: 0 0 0 35px;
						}
					}
				}
				.one-right {
					
				}
			}
		}
		.two {
			.two_row {
				display: flex;
				padding: 50px 0 0;
				.two_left {
					flex: 0 0 433px;
					img{
						max-width: 100%;
					}
				}
				.two_right {
					padding: 0 0 0 35px;
					flex: 1 1 auto;
					.two_right_title {
						font-size: 30px;
						color: rgb(68, 81, 97);
						line-height: 36px;
						
					}
					.two_right_text {
						font-size: 16px;
						color: #333333;
						line-height: 24px;
						p:first-child{
							padding: 20px 0 20px 0;
						}
						p{
							padding: 0px 0 50px 0;
						}
					}
				}
			}
		}
		.three{
			background: #f5f5f5;
			padding:  0 0 20px 0 ;
			.three_title{
				display:flex;
				justify-content:center;
				align-items:center;
				font-size: 30px;
				color: rgb(68, 81, 97);
		  		line-height: 1.2;
		  		padding: 33px;
			}
			.threee_block{
				display:flex;
				.three_row{
					display:flex;
					flex-wrap:wrap;
					margin: 0 -8px;
					.three_row_1{
						padding: 0 8px 30px 0;
						display:flex;
						flex: 1 1 50%;
						.three_row_right{
							padding: 0 15px 0 15px;
							.three_row_title{
								font-size: 24px;
								color: rgb(68, 81, 97);
	  							line-height: 1.25;
							}
							.three_row_text{
								padding: 15px 0 0 0;
								font-size: 16px;
								color: rgb(51, 51, 51);
								line-height: 1.5;
							}
						}
						
					}
				}
			}
		}
		.four{
			padding: 50px;
			.four_title{
				display:flex;
				justify-content:center;
				align-items:center;
				font-size: 30px;
				color: rgb(68, 81, 97);
				line-height: 1.2;
				padding: 0 0 25px 0;
			}
			.vertical_body{
				max-width: 990px;
				margin: 0px auto;
				
				.vertical_row{
					display:flex;
					margin: 0 -22.5px ;
					.vertical_column{
						flex: 0 1 33.333%;
						padding:  0 22.5px ;
						display:flex;

						.vertical_item{
							border-radius: 5px;
							padding:  0 0 20px 0 ;
							background: #445162;
							display:flex;
							flex-direction: column;
							.four_block_row1_subtitle{
								display:flex;
								justify-content:center;
								align-items:center;
								padding: 12px 0;
								
								font-size: 24px;
								color: rgb(255, 255, 255);
								text-transform: uppercase;
								line-height: 1.25;
							}
							.four_block_row1_label{
								display:flex;
								justify-content:center;
								align-items:center;
								background: #fff;
								border:1px solid #445162;
								font-size: 40px;
	  							line-height: 0.75;
	  							color: #445162;
	  							padding: 16px 0;
	  							
							}
							.four_block_row1_text{
								background: #445162;
								font-size: 14px;
								color: rgb(255, 255, 255);
								line-height: 24px;
								padding: 20px 20px;
								flex: 1 1 auto;
								p{
									margin: 0 0 15px 0;
								}
							}
							.four_block_row1_button{
								font-size: 18px;
								color: rgb(68, 81, 97);
								font-weight: bold;
								background: #fff;
								margin: 0 20px;
								height: 40px;
								border-radius: 5px;
								display:flex;
								justify-content:center;
								align-items:center;
							}
						}

					}
				}
			}
		}
	}
	.footer {
		display:flex;
		justify-content:center;
		align-items:center;
		background: #f5f5f5;
		font-size: 12px;
		color: rgb(68, 81, 98);
  		line-height: 2;
  		height: 65px;
  		letter-spacing: 0.3px;
	}
}



